body {
  background-color: whitesmoke;
}


/* ************** */

/* DATA ENTRY HTML */

/* DASHBOARD */
#dashboard {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 265px;
  width: 900px;
  height: 500px;
}

/* LOGO SECTION */
.logo-section {
  display: flex;
  flex-direction: column;
  background-color: #5233ed;
  width: 150px;
  height: 630px;
}

/* DATA-NEXI LOGO */
.data-nexi-logo {
  width: 100px;
  margin-top: 30px;
  margin-left: 17px;
  margin-bottom: 50px;
}

/* SIDE BAR DIV */
.side-bar {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

/* DATA ENTRY DIV */
.data-entry-div {
  display: flex;
  flex-direction: row;
  width: 125px;
  height: 30px;
  background: #ffffff;
  border-radius: 6px;
  margin-bottom: 30px;
}
.stroke-img {
  margin-top: 5px;
  margin-left: 10px;
  width: 20px;
  height: 18px;
}
.data-entry-text {
  margin-top: 5px;
  margin-left: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  cursor: pointer;
}

/* FORM BUILDER DIV */
.form-builder-div {
  display: flex;
  flex-direction: row;
  width: 125px;
  height: 30px;
  border-radius: 6px;
  margin-bottom: 30px;
}
.union-join-img {
  margin-top: 5px;
  margin-left: 7px;
  width: 18px;
  height: 18px;
}
.form-builder-text {
  margin-top: 5px;
  margin-left: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

/* MANAGE TEAM DIV */
.manage-team-div {
  display: flex;
  flex-direction: row;
  width: 125px;
  height: 30px;
  border-radius: 6px;
  margin-bottom: 30px;
}
.people-img {
  margin-top: 5px;
  margin-left: 5px;
  width: 18px;
  height: 18px;
}
.manage-team-text {
  margin-top: 5px;
  margin-left: 5px;
  white-space: nowrap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

/* PROJECT SETTINGS DIV */
.project-settings-div {
  display: flex;
  flex-direction: row;
  width: 125px;
  height: 30px;
  border-radius: 6px;
  margin-bottom: 30px;
}
.bolt-img {
  margin-top: 5px;
  margin-left: 3px;
  width: 18px;
  height: 18px;
}
.project-settings-text {
  margin-top: 5px;
  margin-left: 2px;
  white-space: nowrap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

/* CREATE PROJECT SECTION */
.create-project-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 800px;
  height: 630px;
}

/* TOP DIV */
.top {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

/* PHCN DIV */
.phcn-div {
  margin-left: 35px;
}
.phcn-nigeria {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

/* JOHN DOE DIV */
.john-doe-div {
  margin-top: -5px;
  margin-left: 400px;
}
.list-item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  width: 150px;
  height: 38px;
  list-style: none;
  padding-top: 5px;
  cursor: pointer;
}
.avatar-img {
  margin-left: -35px;
}
.john-doe-text {
  margin-top: 2px;
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1c1c1c;
}
.path-stroke {
  margin-left: 25px;
  margin-top: 2px;
}

/* TOTAL DIV */
.total-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 100px;
}

/* TOTAL ENTRIES, FORMS & TEAMS DIV */
.total-entries-div,
.total-forms-div,
.total-teams-div {
  width: 180px;
  height: 100px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

/* BOX ARROW, PURPLE UNION & PURPLE PEOPLE IMAGE */
.box-arrow-img,
.purple-union-img,
.purple-people-img {
  margin-top: 30px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
}

/* TOTAL ENTRIES, FORMS AND TEAMS TEXT NUMBER DIV */
.total-entries-text-number-div,
.total-forms-text-number-div,
.total-teams-text-number-div {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

/* TOTAL ENTRIES, FORMS AND TEAMS TEXT */
.total-entries-text,
.total-forms-text,
.total-teams-text {
  margin-top: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

/* TOTAL ENTRIES, FORMS AND TEAMS NUMBER */
.total-entries-number,
.total-forms-number,
.total-teams-number {
  margin-top: -20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

/* STUDY TRACK DIV */
.study-track-div {
  display: flex;
  flex-direction: row;
  margin-top: -70px;
  margin-bottom: 20px;
}
.all-study-text {
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.track-box {
  width: 120px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 6px;
}

/* SELECT OPTION */
select {
  color: #9e9e9e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #958f8f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* TABLE DIV */
.table {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 680px;
  height: 239px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 6px;
}

/* TABLE HEAD */
.header {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}
.study {
  margin-left: 20px;
  padding-bottom: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.study-id {
  margin-left: 80px;
  padding-bottom: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.submission,
.action {
  margin-left: 40px;
  padding-bottom: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

/* TABLE ROW */
.table-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}
.file-img {
  margin-left: 20px;
  margin-right: 5px;
  height: 15px;
}
.first-study {
  margin-top: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.study-number {
  margin-top: 5px;
  margin-left: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.date {
  margin-top: 5px;
  margin-left: 35px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.eye-img {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.view-entry {
  margin-bottom: 5px;
  margin-left: 85px;
  background: #5233ed;
  border-radius: 4.60438px;
  width: 111px;
  height: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11.8087px;
  line-height: 14px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.empty-table-row {
  margin-top: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

/* ******************** */

/* FIRST STUDY HTML */

/* FIRST STUDY DIV */
.first-study-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.back-img {
  width: 10px;
  height: 19px;
  margin-top: 5px;
  margin-left: 40px;
  cursor: pointer;
}
.first-study {
  margin-left: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

/* ENTRIES DIV */
.entries-div {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-bottom: 40px;
  width: 688px;
  height: 50px;
  background: #f5f3fc;
}

/* TABLE TEXT DIV */
.table-text-div {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.table-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}
.purple-horizontal {
  background: #5233ed;
  border-radius: 20px;
  width: 64px;
  height: 10px;
}

/* MAP,DATA AND GALLERY TEXT */
.map-text,
.data-intelligence-text,
.gallery-text {
  margin-left: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

/* DOWNLOAD BUTTON DIV */
.download-entries-div {
  margin-left: 60px;
}
.download-img {
  margin-right: 10px;
}
.download-btn {
  margin-top: 7px;
  width: 145px;
  height: 34px;
  background: #5233ed;
  border-radius: 4.60438px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 11.8087px;
  line-height: 14px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
}

/* ALL STUDY TEXT */
.all-study {
  margin-top: 15px;
}

/* APPLY BUTTON */
.apply-btn {
  margin-left: 10px;
  margin-right: 290px;
  border-radius: 4.60438px;
  border: none;
  background: #5233ed;
  width: 80px;
  height: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11.8087px;
  line-height: 14px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  cursor: pointer;
}

/* DETAILS DIV */
.details-div {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 694px;
  height: 130px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 6px;
}

/* DETAILS HEAD */
.details-head {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}
.field-agent {
  white-space: nowrap;
  margin-left: 43px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}
.entry-id,
.last-submission {
  white-space: nowrap;
  margin-left: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}
.entry-name {
  white-space: nowrap;
  margin-left: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}
.name {
  white-space: nowrap;
  margin-left: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}
.number {
  white-space: nowrap;
  margin-left: 39px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}

/* AGENTS DIV */
.agents-div {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

/* TICK BOX */
.tick-box {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 0.888889px solid #000000;
  border-radius: 2.66667px;
  cursor: pointer;
}

/* MARK TIM */
.mark-tim-img {
  margin-left: 10px;
  width: 28px;
  height: 20px;
}
.mark-tim-text {
  white-space: nowrap;
  margin-left: 1px;
  margin-top: -1px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

/* NUMBER ID */
.number-id {
  margin-top: -2px;
  margin-left: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  white-space: nowrap;
}

/* SUBMISSION DATE */
.submission-date {
  margin-top: -2px;
  margin-left: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  white-space: nowrap;
}

/* IPAJA BRANCH */
.ipaja-branch {
  margin-top: -2px;
  margin-left: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  white-space: nowrap;
}

/* MARY GOLD'S NAME */
.mary-gold-name {
  margin-top: -2px;
  margin-left: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  white-space: nowrap;
}

/* MARY GOLD'S NUMBER */
.mary-gold-number {
  margin-top: -2px;
  margin-left: 65px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  white-space: nowrap;
}

/* ANGELA MARK'S NAME */
.angela-mark-name {
  margin-top: -2px;
  margin-left: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  white-space: nowrap;
}

/* ANGELA MARK'S NUMBER */
.angela-mark-number {
  margin-top: -2px;
  margin-left: 45px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  white-space: nowrap;
}

/* **************** */

/* MAP HTML */

/* MAP PAGE TABLE */
.map-page-table {
  margin-left: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

/* MAP DIV */
.map-div {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.map-map-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

/* MAP IMAGE DIV */
.map-img-div {
  margin-left: 40px;
}
.map-img {
  width: 688px;
  height: 300px;
  cursor: pointer;
}

/* **************** */

/* DATA HTML */

/* DATA DIV */
.data-div {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.data-text {
  margin-left: -15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

/* COMING-SOON DIV */
.coming-soon-div {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 300px;
}
.coming-soon-img {
  width: 130px;
  height: 130px;
}
.coming-soon-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19.5802px;
  line-height: 66px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-left: 5px;
  margin-top: -10px;
}

/* ******************* */

/* GALLERY HTML */

/* DATA DIV */
.gallery-div {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.gallery-div-text {
  margin-left: -15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

/* GRID IMAGE */
.grid-img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background: #5233ed;
  cursor: pointer;
}

/* LIST IAMGE */
.list-img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* METER IMAGE DIV */
.meter-img-div {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 40px;
}

/* METER ID DIV */
.meter-id-div {
  display: flex;
  flex-direction: column;
}

/* METER IMAGE */
.meter-img {
  width: 120px;
  height: 120px;
}

/* ID TEXT */
.id-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

/* NEXT METER-ID DIV */
.next-meter-id-div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}