body {
  background: white;
  width: 900px;
  height: 5000px;
  display: flex;
  flex-direction: column;
  margin-left: 230px;
}

/* DATA COLLECTION DIV */
.data-collection-div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1300px;
  height: 800px;
}

/* TOP NAV */
.top-nav {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* DATA NEXI LOGO */
.datanexi-logo {
  width: 130px;
  height: 17px;
  margin-left: 60px;
  justify-content: flex-start;
}

/* FEATURES DIV */
.features-div {
  display: flex;
  flex-direction: row;
  margin-top: -20px;
  margin-left: 250px;
}

/* PRICING FEATURE */
.pricing-feature {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  letter-spacing: 0.5px;
  color: #000000;
  flex: none;
  order: 2;
  flex-grow: 0;
}

/* CONTACT-US AND ABOUT-US FEATURE */
.contact-us-feature,
.about-us-feature, .commodity-feature {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  letter-spacing: 0.5px;
  color: #000000;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 20px;
}

/* NAV LOGIN */
.nav-login {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  letter-spacing: 0.5px;
  color: #000000;
  margin-top: -5px;
  margin-left: 250px;
}

/* REQUEST DEMO BUTTON */
.request-demo-btn {
  width: 120px;
  height: 30px;
  background: #5233ed;
  border-radius: 4px;
  border: none;
  margin-top: -10px;
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

/* DEMO DIV */
.demo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* DATA COLLECTION TEXT */
.data-collection-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #000000;
  margin-bottom: 10px;
}

/* COLORED TEXT SPAN */
.colored-text-span {
  color: #5233ed;
}

/* POWERFUL INTUITIVE TEXT */
.powerful-intuitive-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

/* LARGE REQUEST DEMO BUTTON */
.large-request-demo-btn {
  width: 140px;
  height: 35px;
  background: #5233ed;
  border-radius: 4px;
  border: none;
  margin-top: -10px;
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  margin-bottom: 20px;
}

/* DATA ENTRY IMAGE */
.data-entry-img {
  width: 700px;
  border-radius: 6px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
}

/* UNLIMITED ENTRIES */
.unlimited-entries {
  display: flex;
  flex-direction: row;
  margin-left: 700px;
  margin-top: -300px;
  width: 180px;
  height: 60px;
  background: #5233ed;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

/* TOTAL-ENTRIES AND USEABILLITY DIV */
.total-entries-div{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.useability-div {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

/* TOTAL ENTRIES TEXT */
.total-entries-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 15px;
  color: #ffffff;
}

/* UNLIMITED TEXT */
.unlimited-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
  margin-top: -5px;
}

/* UNLIMITED ENTRIES SEND BUTTON */
.unlimited-entries-send-btn {
  width: 64px;
  height: 28px;
  background: #ffffff;
  border-radius: 40px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 10px;
}

/* USEABILITY */
.useability {
  display: flex;
  flex-direction: row;
  width: 140px;
  height: 70px;
  margin-left: -700px;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

/* USEABILITY TEXT */
.useability-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #a9a7b6;
}

/* HUNDRED PERCENT */
.hundred-percent {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19.6571px;
  line-height: 24px;
  color: #000000;
  margin-top: -5px;
}

/* BAR CHART IMAGE */
.bar-chart-img {
  width: 24.57px;
  height: 24.57px;
  margin-top: 35px;
  margin-left: 30px;
}

/* FORM CREATION */
.form-creation {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-left: -630px;
  margin-top: 30px;
}

/* SUCCESSFUL IMAGE */
.successfully-img {
  width: 18px;
  height: 18px;
  margin-top: 15px;
  margin-left: 15px;
}

/* SUCCESSFUL CREATION TEXT */
.successful-creation-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #191a15;
  margin-top: 18px;
  margin-left: 10px;
}

/* TRUSTED PARTNERS DIV */
.trusted-partners-div {
  background: #5233ed;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1358px;
  height: 150px;
  margin-left: -20px;
}

/* TRUSTED PARTNERS TEXT */
.trusted-partners-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

/* PARTNERS DIV */
.partners-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* IMAGES */
.zeppelin-img {
  width: 100px;
  height: 20px;
}
.oracle-img {
  width: 100px;
  height: 17px;
}
.morpheus-img {
  width: 100px;
  height: 25px;
  margin-top: -5px;
}
.samsung-img {
  width: 100px;
  height: 20px;
}
.monday-img {
  width: 100px;
  height: 22px;
}
.segment-img {
  width: 100px;
  height: 25px;
}
.protonet-img {
  width: 100px;
  height: 28px;
}

/* DATA DIV */
.data-div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1160px;
  height: 1400px;
}

/* DATA TRANSFORM TEXT */
.data-transform-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #191a15;
}

/* DIVS */
.different-studies-div,
.accessable-div,
.interface-div {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  margin-bottom: 20px;
}
.different-studies-demo-div,
.simple-interface-div {
  display: flex;
  flex-direction: column;
}

/* DIFFERENT STUDIES TEXT */
.different-studies-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #191a15;
}

/* PLAN COLLABORATE TEXT */
.plan-collaborate-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-top: -15px;
  margin-bottom: 30px;
}

/* RESEARCH DATA CONNECTION */
.research-data-connection {
  display: flex;
  flex-direction: row;
}

/* CHECK IMG */
.check-img {
  width: 25px;
  height: 25px;
}

/* TEXTS */
.long-research-text,
.shirt-research-text,
.seamless-connection-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #191a15;
  margin-top: -2px;
  margin-left: 10px;
}

/* STUDIES REQUEST DEMO BTN */
.studies-request-demo-btn {
  width: 120px;
  height: 30px;
  background: #5233ed;
  border-radius: 4px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  margin-top: 15px;
}

/* DATANEXI NEW PROJECT DIV */
.datanexi-new-project-div {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-top: -20px;
}

/* STUDIES DATAENTRY IMG */
.studies-data-entry-img {
  width: 400px;
  height: 300px;
  filter: drop-shadow(0px 0px 21.3333px rgba(0, 0, 0, 0.1));
  margin-left: 50px;
}

/* STUDIES PROJECT DATAENTRY IMG */
.studies-project-dataentry-img {
  width: 400px;
  height: 300px;
  filter: drop-shadow(0px 0px 21.3333px rgba(0, 0, 0, 0.1));
  margin-top: -210px;
}

/* DATANEXI IMAGE DIV */
.landing-datanexi-img-div {
  display: flex;
  flex-direction: column;
}

/* EASY ACCESSABLE DIV */
.easy-accessable-div {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

/* ACCESSABLE DATA ENTRY IMAGE */
.accessable-dataentry-img {
  width: 400px;
  height: 300px;
  filter: drop-shadow(0px 0px 21.3333px rgba(0, 0, 0, 0.1));
  margin-left: 105px;
}

/* ACCESSABLE DATA ENTRY STUDY IMAGE */
.accessable-dataentry-study-img {
  width: 400px;
  height: 300px;
  filter: drop-shadow(0px 0px 21.3333px rgba(0, 0, 0, 0.1));
  margin-top: -225px;
}

/* DATANEXI IMAGE DIV */
.interface-datanexi-img-div {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

/* TEXTS */
.simple-interface-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #191a15;
}

/* ACCESSABLE FORM TEXT */
.accessable-form-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #191a15;
}

/* FILL ENTRIES IMG */
.fill-entries-img {
  width: 200px;
  height: 400px;
  margin-left: 250px;
  filter: drop-shadow(0px 0px 21.3333px rgba(0, 0, 0, 0.1));
}

/* HOMEPAGE IMAGE */
.home-page-img {
  width: 200px;
  height: 400px;
  margin-left: 103px;
  margin-top: -370px;
  filter: drop-shadow(0px 0px 21.3333px rgba(0, 0, 0, 0.1));
}

/* PLAN DIV */
.plan-div {
  background-color: #5233ed;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1358px;
  height: 1000px;
  margin-left: -20px;
}

/* CHOOSE PLAN HEADER */
.choose-plan-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

/* CHOOSE PLAN PARAGRAPH */
.choose-plan-paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: -20px;
  margin-bottom: 40px;
}

/* BILL DIV */
.bill-div {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 290px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-bottom: 20px;
}

/* BILL MONTHLY TEXT */
.bill-monthly-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #191a15;
  margin-left: 20px;
  margin-top: 15px;
}

/* BILL YEARLY SPAN */
.bill-yearly-span {
  width: 140px;
  height: 40px;
  background: #5233ed;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
}

/* BILL YEARLY TEXT */
.bill-yearly-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-left: 30px;
  margin-top: 5px;
}

/* CARDS DIV */
.cards-div {
  display: flex;
  flex-direction: row;
  /* align-self: center; */
  justify-content: space-evenly;
}

/* FREE CARD DIV */
.free-card-div {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 280px;
  height: 600px;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin-right: 10px;
}

/* FREE HEADER */
.free-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #191a15;
}

/* SUPER POWERS TEXT */
.superpowers-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #a6a6a6;
  margin-top: -20px;
}

/* DOLLAR SIGN */
.dollar-sign {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #a6a6a6;
  margin-top: -10px;
  margin-left: -35px;
}

/* PRICE TEXT */
.price-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 30px;
  text-align: center;
  color: #191a15;
  margin-top: -25px;
}

/* FREE REQUEST DEMO DIV */
.free-request-demo-div {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  background: #f9fafb;
  border-radius: 10px;
  align-self: center;
}

/* FREE ROW */
.free-row {
  display: flex;
  flex-direction: row;
}

/* FREE CHECK IMAGE */
.free-check-img {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-left: 15px;
}

/* ROW TEXT */
.row-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #191a15;
  margin-left: 10px;
  margin-top: 8px;
}

/* PLAN REQUEST DEMO BTN */
.plan-request-demo-btn {
  width: 150px;
  height: 45px;
  background: #5233ed;
  border-radius: 4px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 50px;
}

/* PRO CARD DIV */
.pro-card-div {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 280px;
  height: 630px;
  background: #5233ed;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border: 2px solid #ffffff;
  border-radius: 20px;
  /* margin-right: 15px; */
}

/* PRO TEXT */
.pro-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
}

/* EXPERIMENT POWER TEXT */
.experiment-power-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  margin-top: -20px;
}

/* PRO DOLLAR SIGN */
.pro-dollar-sign {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-top: -400px;
  margin-left: 120px;
}

/* EIGHT DOLLARS */
.eight-dollars {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 30px;
  color: #ffffff;
  margin-left: 130px;
  margin-top: -20px;
  margin-bottom: 80px;
}

/* PRO REQUEST DEMO DIV */
.pro-request-demo-div {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  background: #f9fafb;
  border-radius: 10px;
  align-self: center;
}

/* BUSINESS CARD DIV */
.business-card-div {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 280px;
  height: 600px;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin-left: 10px;
}

/* BUSINESS PRICE TEXT */
.business-price-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 30px;
  text-align: center;
  color: #191a15;
  margin-top: -20px;
  margin-left: 10px;
}

/* POSITIVE FEEDBACK DIV */
.positive-feedback-div {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1170px;
  height: 500px;
}

/* POSITIVE FEEDBACK TEXT */
.positive-feedback-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #191a15;
}

/* MAINTAIN DATA */
.maintain-data {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-top: -30px;
  margin-bottom: 20px;
}

/* VIRGIL CARD DIV */
.virgil-card-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

/* VIRGIL BARNETT DIV */
.virgil-barnett-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 260px;
  height: 200px;
  background: #ffffff;
  border-left-color: #5233ed;
  box-shadow: 0px 1.67009px 3.34018px rgba(0, 0, 0, 0.04),
    0px 6.68037px 13.3607px rgba(0, 0, 0, 0.08);
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* LEFT BORDER IMG */
.left-border-img {
  height: 200px;
}

/* IOS VIRGIL DIV */
.ios-virgil-div {
  display: flex;
  flex-direction: column;
}

/* VIRGIL BARNET IMAGE */
.virgil-barnett-img {
  width: 50.1px;
  height: 50.1px;
  border-radius: 60px;
  margin-top: 10px;
  margin-left: 10px;
}

/* VIRGIL BARNETT TEXT */
.virgil-barnett-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.417523px;
  color: #0a0f26;
  margin-left: 10px;
}

/* IOS DEVELOPER TEXT */
.ios-developer-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  color: #55565a;
  margin-left: 10px;
  margin-top: -25px;
}

/* VIRGIL LOREM TEXT */
.virgil-lorem-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #0a0f26;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 10px;
  margin-top: -5px;
}

/* DATA NEXI FORM DIV */
.datanexi-form-div {
  background-color: #5233ed;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 1358px;
  height: 500px;
  margin-left: -20px;
}

/* ABOUT DATA NEXI DIV */
.about-datanexi-div {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

/* ABOUT DATA NEXI TEXT */
.about-datanexi-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 50px;
}

/* GOVERNMENT DEVELOPMENT TEXT */
.government-development-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

/* CREATING DATA NEXI */
.creating-datanexi {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

/* ELLIPSE IMAGE DIV */
.ellipse-image-div {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

/* IMAGES */
.first-img,
.second-img,
.third-img {
  margin-right: 20px;
}

/* FORM BOX */
.form-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background: #ffffff;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 300px;
}

/* LOGO FORM */
.logo-form {
  width: 150px;
  height: 25px;
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 30px;
}

/* EMAIL LABEL */
.email-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-left: 30px;
  margin-bottom: 10px;
}

/* EMAIL INPUT */
.email-input {
  width: 300px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
}

/* INPUT PLACEHOLDER */
input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a6a6a6;
  padding-left: 20px;
}

/* MESSAGE INPUT */
.message-input {
  width: 300px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
}

/* FORM REQUEST DEMO BTN */
.form-request-demo-btn {
  width: 310px;
  height: 60px;
  background: #5233ed;
  border-radius: 10px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-left: 30px;
  cursor: pointer;
}

/* SIGN UP DIV */
.sign-up-div {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 1180px;
  height: 200px;
  margin-left: -135px;
}

/* GET APP DIV */
.get-app-div {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

/* DATA NEXI GET APP IMG */
.datanexi-getapp-img {
  width: 150px;
  height: 25px;
  margin-top: 40px;
}

/* START PLAN TEXT */
.start-plan-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 15px;
}

/* DOWNLOAD APP DIV */
.download-app-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* DOWNLOAD BOX */
.download-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 140px;
  height: 50px;
  background: #000000;
  border-radius: 8.61592px;
}

/* LOGOs */
.android-logo,
.apple-logo {
  width: 22px;
  height: 22px;
  margin-left: 10px;
}

/* DIVS */
.google-play-div,
.app-store-div {
  display: flex;
  flex-direction: column;
}

/* GET APP TEXT */
.get-app-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10.3391px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 7px;
  margin-top: 20px;
}

/* TEXTS */
.google-play-text,
.app-store-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 7px;
  line-height: 21px;
  color: #ffffff;
  margin-top: -15px;
  margin-left: 7px;
}

/* STAY IN TOUCH DIV */
.stay-in-touch-div {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: 30px;
}

/* STAY IN TOUCH LABEL */
.stay-in-touch-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 39px;
  color: #000000;
  margin-left: 30px;
  margin-bottom: 10px;
}

/* NEWSLATTER BTN */
.newslatter-btn {
  width: 310px;
  height: 60px;
  background: #5233ed;
  border-radius: 10px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin-left: 30px;
  margin-top: -20px;
  cursor: pointer;
}

/* COPYRIGHT DIV */
.copyrights-div {
  background-color: #5233ed;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 1358px;
  height: 30px;
  margin-left: -20px;
}

/* COPYRIGHT TEXT */
.copyright-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 100px;
  margin-top: 5px;
}

/* TERMS TEXT */
.terms-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 600px;
  margin-top: 5px;
}

/* COPYRIGHT POLICY TEXT */
.copyright-policy-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 50px;
  margin-top: 5px;
}