body {
  background-color: whitesmoke;
}

/* ************** */

/* CROSS PROJECT HTML */

/* DASHBOARD */
#dashboard {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 265px;
  width: 900px;
  height: 500px;
}

/* LOGO SECTION */
.logo-section {
  display: flex;
  flex-direction: column;
  background-color: #5233ed;
  width: 150px;
  height: 1600px;
}

/* DATA-NEXI LOGO */
.data-nexi-logo {
  width: 100px;
  margin-top: 30px;
  margin-left: 17px;
  margin-bottom: 50px;
}

/* SIDE BAR DIV */
.side-bar {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

/* DATA ENTRY DIV */
.data-entry-div {
  display: flex;
  flex-direction: row;
  width: 125px;
  height: 30px;
  border-radius: 6px;
  margin-bottom: 30px;
}
.stroke-img {
  margin-top: 5px;
  margin-left: 10px;
  width: 20px;
  height: 18px;
}
.data-entry-text {
  margin-top: 5px;
  margin-left: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

/* FORM BUILDER DIV */
.form-builder-div {
  display: flex;
  flex-direction: row;
  width: 125px;
  height: 30px;
  border-radius: 6px;
  margin-bottom: 30px;
}
.union-join-img {
  margin-top: 5px;
  margin-left: 7px;
  width: 18px;
  height: 18px;
}
.form-builder-text {
  margin-top: 5px;
  margin-left: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

/* MANAGE TEAM DIV */
.manage-team-div {
  display: flex;
  flex-direction: row;
  width: 125px;
  height: 30px;
  border-radius: 6px;
  margin-bottom: 30px;
}
.people-img {
  margin-top: 5px;
  margin-left: 5px;
  width: 18px;
  height: 18px;
}
.manage-team-text {
  margin-top: 5px;
  margin-left: 5px;
  white-space: nowrap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

/* PROJECT SETTINGS DIV */
.project-settings-div {
  display: flex;
  flex-direction: row;
  width: 125px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 30px;
}
.bolt-img {
  margin-top: 7px;
  margin-left: 3px;
  width: 15px;
  height: 15px;
}
.project-settings-text {
  margin-top: 5px;
  margin-left: 2px;
  white-space: nowrap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  cursor: pointer;
}

/* CREATE PROJECT SECTION */
.create-project-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 800px;
  height: 1600px;
}

/* TOP DIV */
.top {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

/* PHCN DIV */
.phcn-div {
  margin-left: 35px;
}
.phcn-nigeria {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

/* JOHN DOE DIV */
.john-doe-div {
  margin-top: -5px;
  margin-left: 400px;
}
.list-item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  width: 150px;
  height: 38px;
  list-style: none;
  padding-top: 5px;
  cursor: pointer;
}
.avatar-img {
  margin-left: -35px;
}
.john-doe-text {
  margin-top: 2px;
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1c1c1c;
}
.path-stroke {
  margin-left: 25px;
  margin-top: 2px;
}

.project-div {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  width: 690px;
  height: 35px;
  background: #f5f3fc;
}

.black-bolt-img {
  width: 20px;
  height: 18px;
  margin-left: 20px;
  margin-top: 7px;
}

.project-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin-left: 7px;
  margin-top: 7px;
}

/* BUTTONS DIV */
.buttons-div {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-right: 30px;
  align-self: flex-end;
}

/* SAVE BUTTON */
.save-btn {
  width: 120px;
  height: 40px;
  background: #5233ed;
  border-radius: 6.62857px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  margin-right: 5px;
}

/* CANCEL BUTTON */
.cancel-btn {
  width: 100px;
  height: 40px;
  border: 1px solid #979797;
  border-radius: 6.62857px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

/* FORM */
.new-project-form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

/* INPUT FORM */
.project-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/* INPUT */
.project-input {
  margin-bottom: 15px;
  border: 1.10476px solid #979797;
  border-radius: 5.52381px;
  width: 400px;
  height: 30px;
  margin-top: 5px;
}

/* INPUT PLACEHOLDER STYLE */
input[type="text"]::placeholder {
  padding-left: 5px;
  font-family: "Inter";
}

/* DESCRIPTION DIV */
.description {
  margin-bottom: 5px;
}

/* DESCRIPTION TEXT */
.decription-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/* TEXT AREA */
.description-area {
  margin-top: 7px;
  border: 1.10476px solid #979797;
  border-radius: 5.52381px;
  box-sizing: border-box;
  resize: none;
}

/* TEXT AREA PLACEHOLDER STYLE */
textarea[name="text"]::placeholder {
  padding-left: 5px;
  padding-top: 5px;
  font-family: "Inter";
}

/* SELECT PROJECT TYPE DIV */
.select-project-type-div {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-bottom: 20px;
}

/* PROJECT TYPE AND SUBMISSION TEXT */
.project-type-text,
.project-submission-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/* TYPE DIV */
.type-div {
  display: flex;
  flex-direction: column;
}

/* CROSS-SECTIONAL, LONGITUDINAL, ALLOW SUBMISSION AND STOP SUBMISSION div */
.cross-sectional-div,
.longitudinal-div,
.allow-submission-div,
.stop-submission-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

/* CLICK AND UNCLICK DIV */
.click-unclick-div {
  display: flex;
  flex-direction: column;
}
.plain-ellipse {
  width: 15px;
  height: 15px;
}
.colored-ellipse {
  width: 8px;
  height: 8px;
  margin-top: -11.5px;
  margin-left: 3.5px;
}

/* CROSS-SECTIONAL, LONGITUDINAL, ALLOW SUBMISSION AND STOP SUBMISSION TEXT */
.cross-sectional-text,
.longitudinal-text,
.allow-submission-text,
.stop-submission-text {
  margin-top: -2px;
  margin-left: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

span {
  font-weight: 600;
}

/* HORIZONTAL LINE */
.plain-line {
  margin-left: 40px;
  width: 430px;
  background: #d9d9d9;
  margin-bottom: 20px;
}

/* LANGUAGE FORM */
.language-form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.add-language-div {
  display: flex;
  flex-direction: column;
}
.add-language-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/* ENGLISH DIV */
.add-english-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.english-select {
  margin-top: 5px;
  line-height: 40px;
  width: 240px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #cacfd1;
}

/* SELECT OPTION */
select {
  color: #9e9e9e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #958f8f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* ADD BTN */
.add-btn {
  margin-left: 20px;
  width: 116px;
  height: 48.62px;
  background: #5233ed;
  border-radius: 6.62857px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* TRASH IMAGE */
.trash-img {
  width: 14px;
  height: 16px;
  margin-left: 30px;
  margin-top: 20px;
}

/* DELETE AND TRANSFER DIV */
.delete-div,
.transfer-div {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-bottom: 40px;
}

/* DELETE TEXT AND TRANSFER TEXT */
.delete-text,
.transfer-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/* DELETE AND TRANSFER PARAGRAPH */
.delete-paragraph,
.transfer-paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

/* DELETE PROJECT AND TRANSFER BUTTON */
.delete-project-button,
.transfer-button {
  width: 181px;
  height: 48.62px;
  background: #ff0000;
  border-radius: 6.62857px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* ********************* */

/* LANGUAGE HTML */

/* VARIOUSLANGUAGE DIV */
.various-language-div {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: -200px;
  width: 230px;
  height: 142px;
  background: #ffffff;
  border-radius: 6px solid;
  -webkit-box-shadow: -4px 10px 22px -10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -4px 10px 22px -10px rgba(0, 0, 0, 0.6);
  box-shadow: -4px 10px 22px -10px rgba(0, 0, 0, 0.6);
}
.english-language {
  margin-left: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.spanish-language,
.french-language {
  margin-top: 5px;
  margin-left: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

/* HORIZONTAL LINE */
.lang-plain-line {
  margin-top: 60px;
  margin-left: 40px;
  width: 430px;
  background: #d9d9d9;
  margin-bottom: 20px;
}

/* ************* */

/* SELECT FRENCH HTML */

/* SELECT FRENCH LANGUAGE */
.select-french-language {
  margin-top: 5px;
  padding-left: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  background: #5233ed;
}

/* SUCCESSFUL UPLOAD HTML */
.successful-div {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  background: #0bbf04;
  border-radius: 6px;
  width: 300px;
  height: 40px;
  margin-top: -30px;
  margin-bottom: 20px;
  margin-right: 30px;
}
.check-img {
  width: 24px;
  height: 24px;
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 10px;
}
.successful-text {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

/* ************** */

/* CANCEL HTML */

/* BACKGROUND BLURY IMAGE */
.blury-img {
  margin-top: -1490px;
  margin-left: -142px;
}

/* GRAYISH IMAGE */
.grayish-img {
  width: 900px;
  height: 1600px;
  background: rgba(0, 0, 0, 0.3);
}

/* BLUR */
.blur {
  display: flex;
  flex-direction: column;
  margin-top: -1350px;
  margin-left: 130px;
  width: 400px;
  height: 270px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #cacfd1;
}

/* DELETE DIV */
.delete-div {
  margin-left: 33px;
}

/* DELETE TEXT */
.delete-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

/* CONFIRM DIV */
.confirm-div {
  margin-left: 33px;
  margin-bottom: 20px;
  margin-top: -20px;
}

/* CONFIRM DELETE TEXT */
.confirm-delete-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/* CONFIRM BUTTON */
.confirm-btn {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
}

/* DELETE BUTTON */
.delete-btn {
  margin-right: 5px;
  text-align: center;
  width: 125px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 14.3619px 11.0476px 13.2571px;
  gap: 14.36px;
  background: #ff0000;
  border-radius: 6.62857px;
  border: none;
  cursor: pointer;
}

/* BACK BUTTON */
.back-btn {
  text-align: center;
  width: 125px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 14.3619px 11.0476px 13.2571px;
  gap: 14.36px;
  background: #ffffff;
  border-radius: 6.62857px;
  border: lightgray 2px solid;
  cursor: pointer;
}

/* ********* */

/* TRANSFER OWNERSHIP HTML  */

/* BACKGROUND BLURY IMAGE */
.transfer-blury-img {
  margin-top: -1570px;
  margin-left: -142px;
}

/* TRANSFER PROJECT DIV */
.transfer-project-div {
  display: flex;
  flex-direction: column;
  margin-top: -1420px;
  margin-left: 130px;
  width: 400px;
  height: 600px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #cacfd1;
}
.cancel-img {
  margin-top: 20px;
  margin-right: 20px;
  align-self: flex-end;
  width: 12px;
  height: 12px;
}

/* TRANSFER OWNERSHIP DIV */
.transfer-ownership-div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.transfer-project-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}
.account-text {
  margin-top: -10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #000000;
}

/* OWNERS DIV */
.owners-div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.reason-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.reason-textarea {
  margin-top: 7px;
  border: 1.10476px solid #979797;
  border-radius: 5.52381px;
  box-sizing: border-box;
  width: 350px;
  resize: none;
}

/* NEW OWNERS AND NEW PASSWORDS DIV */
.new-owners-div,
.new-password-div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* NEW OWNERS AND NEW PASSWORDS LABEL */
.new-owner-label,
.new-password-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/* NEW OWNERS AND NEW PASSWORDS INPUT */
.new-owner-input,
.new-owner-input {
  width: 340px;
  height: 40px;
  border: 1.10476px solid #979797;
  border-radius: 5.52381px;
  box-sizing: border-box;
}

/* TRANSFER BUTTON */
.transfer-btn {
  margin-top: 45px;
  width: 340px;
  height: 48.62px;
  background: #ff0000;
  border-radius: 6.62857px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* ANCHOR TAG */
a {
  text-decoration: none;
}

/* *********** */

/* PROJECT DELETE HTML */

/* BACKGROUND BLURY IMAGE */
.project-blury-img {
  margin-top: -1570px;
  margin-left: -142px;
}

/* CONFIRM PROJECT DIV */
.confirm-project-div {
  display: flex;
  flex-direction: column;
  margin-top: -1420px;
  margin-left: 130px;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #cacfd1;
}

/* CONFIRM PROJECT TEXT */
.confirm-project-text {
  margin-left: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

/* CONFIRM DELETE */
.confirm-delete {
  margin-left: 20px;
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  color: #000000;
}

/* ENTER EMAIL LABEL */
.enter-email-label {
  margin-left: 20px;
  margin-bottom: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/* NEW OWNERS MAIL */
.new-owners-mail {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 340px;
  height: 40px;
  border: 1.10476px solid #979797;
  border-radius: 5.52381px;
  box-sizing: border-box;
}

/* PASSWORD TEXT */
.password-text {
  margin-left: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/* BUTTONS */
.buttons {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

/* PROJECT DELETE BTN */
.project-delete-btn {
  margin-right: 5px;
  text-align: center;
  width: 125px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 14.3619px 11.0476px 13.2571px;
  gap: 14.36px;
  background: #ff0000;
  border-radius: 6.62857px;
  border: none;
  cursor: pointer;
}

/* CANCEL BUTTON */
.project-cancel-btn {
  width: 100px;
  height: 40px;
  border: 1px solid #979797;
  border-radius: 6.62857px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

/* ************* */

/* DASHBOARD HTML */

/* DASHBOARD */
#dashboard {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 265px;
  width: 900px;
  height: 500px;
}

/* LOGO SECTION */
.dashboard-logo-section {
  display: flex;
  flex-direction: column;
  background-color: #5233ed;
  width: 150px;
  height: 630px;
}

/* DATA-NEXI LOGO */
.data-nexi-logo {
  width: 100px;
  margin-top: 30px;
  margin-left: 17px;
  margin-bottom: 50px;
}

/* CREATE PROJECT SECTION */
.create-new-project-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 800px;
  height: 630px;
}

/* TOP DIV */
.top {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

/* PHCN DIV */
.phcn-div {
  margin-left: 35px;
}
.phcn-nigeria {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

/* JOHN DOE DIV */
.john-doe-div {
  margin-top: -5px;
  margin-left: 400px;
}
.list-item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  width: 150px;
  height: 38px;
  list-style: none;
  padding-top: 5px;
}
.avatar-img {
  margin-left: -35px;
}
.john-doe-text {
  margin-top: 2px;
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1c1c1c;
}
.path-stroke {
  margin-left: 25px;
  margin-top: 2px;
}

/* DISPLAY TEXT */
.display-text {
  margin-left: 35px;
  margin-bottom: 15px;
}

/* PROJECT TEXT */
.phcn-project-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 44px;
  color: #000000;
}

.phcn-team-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* CREATE BTN DIV */
.create-btn-div {
  margin-top: 50px;
}

/* CREATE BTN */
.create-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14.3619px 11.0476px 13.2571px;
  gap: 14.36px;
  width: 195px;
  height: 48.62px;
  background: #5233ed;
  border-radius: 6.62857px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}