/* BODY STYLE */
body {
  background-color: white;
}

/* DATANEXI LOGO STYLE */
.nexi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin-left: 60px;
}

/* LOGIN BOX */
.login-box {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-left: 430px;
  width: 550px;
  height: 510px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #cacfd1;
}

/* LOGIN HEADER */
.login-header {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* WELCOME TEXT */
.welcome {
  margin-top: -30px;
  margin-bottom: 30px;
}

.welcome-text {
  font-family: "Inter", sans-serif;
  text-align: center;
}

/* LOGIN FORM */
.form {
  display: flex;
  flex-direction: column;
}

/* EMAIL FORM */
.email-form {
  margin-left: 43px;
  margin-bottom: 20px;
}

.email {
  font-family: "Inter", sans-serif;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.email-input {
  margin-top: 5px;
  line-height: 40px;
  width: 450px;
  border-radius: 5px;
  border: 1px solid #cacfd1;
}

/* EMAIL PLACEHOLDER STYLE */
input[type="email"]::placeholder {
  padding-left: 5px;
}

/* PASSWORD STYLE */
.password-form {
  margin-left: 43px;
  margin-bottom: 20px;
}

.password {
  font-family: "Inter", sans-serif;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.password-input {
  margin-top: 5px;
  line-height: 40px;
  width: 450px;
  border-radius: 5px;
  border: 1px solid #cacfd1;
}

/* PASSWORD PLACEHOLDER STYLE */
input[type="password"]::placeholder {
  padding-left: 5px;
}

/* REMEMBER PASSWORD */
.remember-password {
  display: flex;
  flex-direction: row;
  margin-bottom: 23px;
}

.check-img {
  margin-left: 43px;
  margin-right: 8px;
}

.remember-text {
  margin-top: -14px;
}

.remember {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.2571px;
  line-height: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.forgot {
  margin-top: -4px;
  margin-left: 230px;
}

/* FORGOT PASSWORD */
.forgot-password {
  text-decoration: none;
  color: black;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13.2571px;
  line-height: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* LOGIN BUTTON */
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 14px 227px;
}

.login-btn {
  background-color: #5233ed;
  border-radius: 6px;
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  padding: 14px 227px;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

/* CREATE ACCOUNT */
.register-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.register {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #828282;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.create-account {
  margin-top: 15px;
  margin-left: 10px;
}

.create {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}
/* **************************** */

/* SIGN UP PAGE */
.signup-box {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-left: 430px;
  box-sizing: border-box;
  width: 579px;
  height: 690px;
  background: #ffffff;
  border: 1px solid #cacfd1;
}

/* CREATE ACCOUNT TEXT STYLE */
.create-text {
  display: flex;
  flex-direction: column;
}

.account {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}

/* FEW STEPS TEXT STLE */
.steps {
  margin-top: -20px;
  margin-bottom: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* FORM STYLE */
.details-form {
  display: flex;
  flex-direction: column;
}

.names {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

/* FIRST NAME FORM STYLE */
.first-name {
  margin-left: 40px;
}
.first-name-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.first-name-input {
  margin-top: 5px;
  line-height: 40px;
  width: 225px;
  border-radius: 5px;
  border: 1px solid #cacfd1;
}

input[type="name"]::placeholder {
  padding-left: 5px;
}

/* LAST NAME FORM STYLE */
.last-name {
  margin-left: 10px;
}
.last-name-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.last-name-input {
  margin-top: 5px;
  line-height: 40px;
  width: 225px;
  border-radius: 5px;
  border: 1px solid #cacfd1;
}

/* TERMS AND CONDITIONS STYLE */
.terms {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
.terms-conditions-text {
  margin-top: -18px;
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.2571px;
  line-height: 16px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.bold-text {
  font-weight: bold;
}

/* ALREADY HAVE AN ACCOUNT STYLE */
.already-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.already {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #828282;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.account-login {
  margin-top: 15px;
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-decoration: none;
}
/* ****************** */

/* CHECK MAIL STYLE */

/* CHECK MAIL PAGE STYLE */
.check-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* SUCCESSFUL BOX STYLE */
.successful-box {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  margin-right: 45px;
  margin-bottom: 80px;
  background-color: #0bbf04;
  width: 452px;
  height: 43px;
  border-radius: 6px;
}
.subtract-img {
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 20px;
}
.successful-text {
  margin-left: 7px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

/* CHECK MAIL BOX */
.check-mail-box {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  box-sizing: border-box;
  width: 1090px;
  height: 600px;
  background: #ffffff;
  border: 1px solid #cacfd1;
}
.check-box {
  margin-top: 20px;
}
.check-mail-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

/* CONFIRM ACCOUNT STYLE */
.confirm-account {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.re-enter {
  font-weight: bolder;
}
.try-again {
  text-decoration: none;
}

/* CHECK MAIL BOX LOGIN STYLE */
.check-box-btn {
  margin-top: 20px;
}
.check-box-login-btn {
  color: white;
  background-color: #5233ed;
  border: none;
  border-radius: 6.62857px;
  width: 944px;
  height: 51.62px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 19.8857px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}
/* ***************************** */

/* PASSWORD-RESET HTML STYLE */

/* PASSWORD RESET BOX */
.password-reset-box {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-left: 430px;
  box-sizing: border-box;
  width: 579px;
  height: 321px;
  background: #ffffff;
  border: 1px solid #cacfd1;
}

/* PASSWORD RESET TEXT */
.password-text {
  width: 251px;
  height: 39px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.password-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* EMAIL FORM STYLE */
.password-email-input {
  margin-top: 5px;
  line-height: 40px;
  width: 490px;
  border-radius: 5px;
  border: 1px solid #cacfd1;
}

/* RESET PASSWORD BUTTON STYLE */
.reset-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 10px;
}
.reset-password-btn {
  background-color: #5233ed;
  border-radius: 6px;
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  padding: 14px 185px;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}
/* *********** */

/* NEW PASSWORD BOX */
.new-password-box {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-left: 430px;
  box-sizing: border-box;
  width: 579px;
  height: 330px;
  background: #ffffff;
  border: 1px solid #cacfd1;
}
