body {
  background-color: whitesmoke;
}

/* DASHBOARD */
#dashboard {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 265px;
  width: 900px;
  height: 500px;
}

/* LOGO SECTION */
.logo-section {
  background-color: #5233ed;
  width: 150px;
  height: 630px;
}

/* DATA-NEXI LOGO */
.data-nexi-logo {
  width: 100px;
  margin-top: 30px;
  margin-left: 17px;
}

/* CREATE PROJECT SECTION */
.create-project-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 800px;
  height: 630px;
}

/* TOP DIV */
.top {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

/* PHCN DIV */
.phcn-div {
  margin-left: 35px;
}
.phcn-nigeria {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

/* JOHN DOE DIV */
.john-doe-div {
  margin-top: -5px;
  margin-left: 400px;
}
.list-item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  width: 150px;
  height: 38px;
  list-style: none;
  padding-top: 5px;
}
.avatar-img {
  margin-left: -35px;
}
.john-doe-text {
  margin-top: 2px;
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1c1c1c;
}
.path-stroke {
  margin-left: 25px;
  margin-top: 2px;
}

/* DISPLAY TEXT */
.display-text {
  margin-left: 35px;
  margin-bottom: 15px;
}

/* PROJECT TEXT */
.phcn-project-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 44px;
  color: #000000;
}

.phcn-team-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* CREATE BTN DIV */
.create-btn-div {
  margin-top: 50px;
}

/* CREATE BTN */
.create-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14.3619px 11.0476px 13.2571px;
  gap: 14.36px;
  width: 195px;
  height: 48.62px;
  background: #5233ed;
  border-radius: 6.62857px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

/* ************************ */

/* BLUR DIV */
.blur-div {
  display: flex;
  flex-direction: column;
  margin-left: -900px;
}

/* BLUR BACKGROUND */
.rectangular-blur {
  width: 900px;
  height: 630px;
}

/* CREATE NEW PROJECT */
.new-project-div {
  margin-top: -570px;
  margin-left: 290px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 450px;
  height: 600px;
  border: 1px solid #cacfd1;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* TOP NAV */
.new-project-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

/* CREATE NEW PROJECT TEXT */
.new-project-text {
  margin-left: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

/* CANCEL IMAGE */
.cancel-img {
  margin-top: 15px;
  margin-left: 260px;
  width: 10px;
  height: 12px;
  cursor: pointer;
}

/* FORM */
.new-project-form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

/* INPUT FORM */
.project-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/* INPUT */
.project-input {
  margin-bottom: 15px;
  border: 1.10476px solid #979797;
  border-radius: 5.52381px;
  width: 400px;
  height: 30px;
  margin-top: 5px;
}

/* INPUT PLACEHOLDER STYLE */
input[type="text"]::placeholder {
  padding-left: 5px;
  font-family: "Inter";
}

/* DESCRIPTION DIV */
.description {
  margin-bottom: 5px;
}

/* DESCRIPTION TEXT */
.decription-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/* TEXT AREA */
.description-area {
  margin-top: 7px;
  border: 1.10476px solid #979797;
  border-radius: 5.52381px;
  box-sizing: border-box;
}

/* TEXT AREA PLACEHOLDER STYLE */
textarea[name="text"]::placeholder {
  padding-left: 5px;
  font-family: "Inter";
}

/* STUDY DIV */
.study {
  margin-left: 20px;
  margin-bottom: 10px;
}

/* STUDY TEXT */
.study-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/* CROSS-SECTION & LONGITUDINAL DIV */
.cross-longitudinal-div {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.cross-section {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}
.longitudinal {
  margin-left: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

/* HORIZONTAL LINE DIV */
.horizontal-div {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 10px;
}
.light-grey-line {
  width: 400px;
}
.blue-line {
  margin-left: -380px;
}

/* CROSS SECTIONAL DIV */
.cross-sectional-div {
  margin-left: 20px;
}
.cross-sectional-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

/* SLECT AND UNSELECT DIV */
.select-study-div {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 15px;
}
.select-unselect {
  display: flex;
  flex-direction: row;
  width: 13px;
  height: 13px;
  background: #5233ed;
  border: 2.20952px solid #5233ed;
  border-radius: 2.20952px;
  box-sizing: border-box;
  margin-right: 8px;
}
.select-study-text {
  margin-top: -2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.2571px;
  line-height: 16px;
  color: #000000;
}

/* CREATE PROJECT BUTTON */
.create-project-btn {
  margin-left: 20px;
}
.project-btn {
  width: 400px;
  height: 45px;
  background: #5233ed;
  border-radius: 6.62857px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}
